
/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Color Overrides
 * ---------------------------------------------------------------------------------------------------------------------
 */

.bg-triangles {
    background-color: #1e0a45;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Text Overrides
 * ---------------------------------------------------------------------------------------------------------------------
 */
.text-primary {
    color: #1e0a45 !important;
}


/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Component Overrides
 * ---------------------------------------------------------------------------------------------------------------------
 */
.btn-primary {
    color: #fff;
    background-color: #1e0a45 !important;
    border-color: #1e0a45 !important;
}
